{{#if section.image}}
    <div class="image-container {{if section.imageCaption "has-caption"}} {{if imageBorder "image-border"}}">
        <img src={{section.image}} />
        {{#if section.imageCaption}}
            <div class="image-caption">{{section.imageCaption}}</div>
        {{/if}}
    </div>
{{/if}}

{{#if section.title}}
    <div class="title">
        {{section.title}}
    </div>
{{/if}}

{{#if section.text}}
    <div class="text">
        {{section.text}}
    </div>
{{/if}}

{{#if section.linkUrl}}
    <a class="link-container" target="_blank" rel="noreferrer" href={{section.linkUrl}}>
        <div class="icon">
            <img src={{section.linkImage}} />
        </div>
        <div class="context">
            <div class="title">
                {{section.linkTitle}}
            </div>
            <div class="subtitle">
                {{section.linkSubtitle}}
            </div>
        </div>
        <div class="get-button">
            {{section.linkButton}}
        </div>
    </a>
{{/if}}
