<div id="app-container" class="body-container {{unless navigator.isIndexRoute "no-scroll"}}">

    <div class="header">
        <div class="left-side">
            <div class="subtitle">
                June 26
            </div>
            <div class="title main">
                Résumé
            </div>
        </div>
        <div class="right-side">
            <div class="info">
                <div class="subtitle">
                    Jake Sawyer
                </div>
                <div class="title">
                    <a href="mailto:jake@verify.design">jake@verify.design</a>
                </div>
            </div>
            <div class="headshot">
                <img src="assets/images/headshot.jpg" />
            </div>
        </div>
    </div>

    {{portfolio-grid}}

</div>

{{#link-to "index"}}
    <div id="main-outlet-overlay" class={{unless navigator.isIndexRoute "active"}}></div>
{{/link-to}}

<div id="main-outlet-container" class={{unless navigator.isIndexRoute "active"}}>
    <div id="main-outlet">
        {{outlet}}
    </div>
</div>
